.app {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 150px auto; */
  padding-top: 120px; /* prevent content from hiding under navbar */
  min-height: 100vh; /* full height of the viewport */
}

.app_main {
  /* flex: 1; occupies the remaining space */
  display: flex;
  flex-wrap: wrap; /* Allows page breakup on smaller screens */
  justify-content: space-around;
  padding: 20px 5%;
  gap: 20px;
}

.navbar {
  position: fixed; /* stays at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3689b6;
  color: rgba(230, 230, 230, 1);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* text-align: center; */
  /* font-size: 1.8rem; */
  font-weight: bold;
  z-index: 1000; /* ensures it stays above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar_logo {
  font-size: 1.8rem;
}

.navbar_title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.navbar_menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar_menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar_menu li:hover {
  color: #f4c714;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.project_column {
  /* width: 33.33%; */
  /* background-color: tomato; */
  /* margin: 20px; */

  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 10px;
}
